.announce {
  .outline(#d00,'.announce');
  min-height: 160px;
  .container;
}

@media @tablet-widths {
  .announce {
    min-height: 205px;
  }
}
@media @tablet-widths {
  .announce {
    min-height: 170px;
  }
}
