.contacts {
  .outline(#00c, '.contacts');
  min-height: 612px;
  .contacts__wrapper {
    .outline(#f00,'.contacts__wrapper');
    .container;
    min-height: 445px;
  }
  &__title {
    .outline(#330,'.contacts__title',-40);
    min-height: 120px;
  }
  &__list {
    .outline(#330,'.contacts__title',-40);
  }
  &__item {
    .outline(#0f0,'.contacts__item');
    min-height: 100px;
  }
  &__term {

  }
  &__description {
    color: #d22856;
    a {
      color: #d22856;
    }
  }
}

@media @tablet-widths {
  .contacts {
    min-height: 780px;
    &__title {
      min-height: 155px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      min-height: 245px;
    }
    &__item {
      width: 250px;
    }
  }
}

@media @desktop-widths {
  .contacts {
    min-height: 868px;
    &__title {
      min-height: 200px;
    }
    &__list {
      min-height: 160px;
    }
  }
}
