.form {
    &__section {
        &_gray {
            background-color: #f2f2f2;
        }
    }
    &__text-label {
        color: #d22856;
    }
    &__text-input {

    }
    &__section-title {
        color: #d22856;
    }
    &__checkbox-label {

    }
    &__checkbox-input {

    }
    &__radio-label {

    }
    &__radio-input {

    }
    &__textarea {

    }
    &__submit {

    }
}
