.page-info {
    .outline(#330,'page-info', 30);
  &__wrapper {
    .container;
    padding-top: 88px;
    display: flex;
    flex-direction: column;
  }
  &__items {
    .outline(#f70,'page-info__items');
    display: flex;
    flex-direction: column;
    &_pic {
      order: 5;
      align-items: center;
    }
  }
  &__item {
    .outline(#333,'page-info__item', -60);
    min-height: 100px;
    margin-bottom: 40px;
    &_pic {
      .outline(#111,'page-info__item_pic');
      width: 158px;
      height: 280px;
      margin: 0;
    }
    &_pic:nth-child(-n+2) {
      display: none;
    }
  }
  &__item-title {

  }
  &__item-text {

  }
}

@media @tablet-widths {
  .page-info {
    &__wrapper {
      flex-direction: row;
      padding-top: 2px;
    }
    &__items {
      flex-grow: 1;
      margin-top: 70px;
      &_pic {

        order: 0;
        flex-grow: 0;
        margin-top: 0;
        margin-right: 40px;
      }
    }
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
      &_pic {
        width: 270px;
        height: 480px;
      }

    }
  }
}

@media @desktop-widths {
  .page-info {
    &__wrapper {
      flex-direction: column;
    }
    &__items {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;
      &_pic {
        width: 830px;
        margin: auto;
      }
    }
    &__item {
      flex-grow: 1;
      min-height: 210px;
      margin-bottom: 0;
      &_pic {
        flex-grow: 0;
        width: 187px;
        height: 300px;
      }
      &_pic:nth-child(-n+2) {
        display: block;
      }
    }
  }
}
