.page-header {
    background-color: #1d2631;
    background-image: url(../img/bg-back-mobile.jpg);
    &__head-line {
        background-color: #1d2631;
        opacity: 0.5;
    }
    &__slogan {
        color: #fff;
    }
}

