.page-nav {
    background-color: #283645;
    &__toggle {

    }
    &__wrapper {
        &_closed {
            display: none;
        }
    }
    &__list {

    }
    &__item {

    }
    &__close-btn {

    }
    &__link {
        color: #fff;
    }

}
