.page-nav {
  .outline(#f00,'.page-nav');
  min-height: 257px;/*
  background-color: #283645;*/
  &__toggle {

  }
  &__wrapper {
    &_closed {
      display: none;
    }
  }
  &__list {

  }
  &__item {

  }
  &__close-btn {

  }
  &__link {
    color: #fff;
  }
}

@media @desktop-widths {
  .page-nav {
    min-height: auto;
    width: 620px;
  }
}
