.post {
  background-color: #f2f2f2;
  &__panorama-title {
    background-color: #d22856;
    color: #fff;
  }
  &__header {

  }
  &__author {

  }
  &__time {

  }
  &__content {

  }
  &__footer {

  }
}
